{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
        <h1 class="text-center">TEST</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <br>
                    {% for game in games %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>Название игры: {{ game.title }}</div>
                                        <div>Вызов бросила команды: {{ game.team_creator }}</div>
                                        {% if game.team_accepted %}
                                            <div>Вызов приняла команда: {{ game.team_accepted }}</div>
                                        {% else %}
                                            <div>Вызов приняла команда: Вызов пока не принят</div>
                                        {% endif %}
                                        <div>Дата и время начала: {{ game.date_time_start }}</div>
                                        <div>Тип игры: {{ game.get_type_display }}</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>Где будут играть: {{ game.location|linebreaks }}</div>
                                        <div>Длительность: {{ game.duration }}</div>
                                        <div>Возрастная категория: {{ game.get_age_display }}</div>
                                        {% if game.winner == None %}
                                            <div>Победитель: скоро определится</div>
                                        {% else %}
                                            <div>Победитель: {{ game.winner }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="panel-footer">
                                {% if user != game.creator.user %}
                                    <a class="btn btn-primary" href="#">Принять вызов</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{% url 'edit_game' game.id %}">Редактировать</a>
                                {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                    {% include 'right.html' %}
            </div>
        </div>
{% endblock content %}
